<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SuiteEntities" connectionString="metadata=res://*/SuiteModel.csdl|res://*/SuiteModel.ssdl|res://*/SuiteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desarrollomc6;initial catalog=MicrocolsaSuite;persist security info=True;user id=sa;password=admin123*.*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="ConsultaInternetStreamedRequestWebHttpBinding"
                 bypassProxyOnLocal="true"
                 useDefaultWebProxy="false"
                 hostNameComparisonMode="WeakWildcard"
                 sendTimeout="10:15:00"
                 openTimeout="10:15:00"
                 receiveTimeout="10:15:00"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 transferMode="StreamedRequest"
                 crossDomainScriptAccessEnabled="true">
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxDepth="2147483647"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="Microcolsa.Suite.Services.ConsultaInternet.ConsultaService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address ="" binding="webHttpBinding" bindingConfiguration="ConsultaInternetStreamedRequestWebHttpBinding" contract="Microcolsa.Suite.Services.ConsultaInternet.IConsultaService" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>